@model IEnumerable<ConfigurationDotNetCore.Models.Student>
@{
    ViewData["Title"] = "Index";
}

<h1>List of Students Of Gilgit Baltistan</h1>
<table class="table-bordered table-dark table-hover">
    <thead class="thead-light">
        <tr>
            <th>StudentName</th>
            <th>RollNo</th>
            <th>Domicile</th>
            <th>Gender</th>
            <th> Email</th> 
            <th>Address</th>
            <th></th>
        </tr>
     
    </thead>
</table>

