@model Customer
@{
    ViewData["Title"] = "Create";
}
<div class="card border-top-primary border-left-primary">
    <div class="card-title">
        <div class="col-12">
            <h3>Customer Basic Info</h3>
            <hr />
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 has-feedback">
                <label asp-for="CustomerName">Customer Name</label>
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" placeholder="Enter Customer Name" asp-for="CustomerName">
                    <div class="form-control-feedback bg-dark bgwidth ">
                        <i class="icon-sort-numberic-desc iconwidth"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 has-feedback">
                <label>Contact Number</label>
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" placeholder="Enter Contact Number" asp-for="ContactNo">
                    <div class="form-control-feedback bg-dark">
                        <i class="icon-sort-numberic-desc "></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 has-feedback">
                <label>Country</label>
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" placeholder="Enter Country Name" asp-for="Country">
                    <div class="form-control-feedback bg-dark">
                        <i class="icon-sort-numberic-desc "></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 has-feedback">
                <label>Email</label>
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" placeholder="Enter Email Address" asp-for="Email">
                    <div class="form-control-feedback bg-dark  ">
                        <i class="icon-sort-numberic-desc"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 has-feedback">
                <label>Address</label>
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" placeholder="Enter Address" asp-for="Address">
                    <div class="form-control-feedback bg-dark  ">
                        <i class="icon-sort-numberic-desc"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 has-feedback">
                <label>Mobile Number</label>
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control" placeholder="Enter Mobile Number" asp-for="MobileNo">
                    <div class="form-control-feedback bg-dark  ">
                        <i class="icon-sort-numberic-desc"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-sm-12">   <input type="submit" value="Create" class="btn btn-primary float-right" /></div>
        </div>

    </div>

</div>

